[submodule "external/flac"]
	path = external/flac
	url = https://bitbucket.org/ecwolf/flac.git
	branch = 1.3.4-SDL
[submodule "external/ogg"]
	path = external/ogg
	url = https://bitbucket.org/ecwolf/ogg.git
	branch = v1.3.5-SDL
[submodule "external/opus"]
	path = external/opus
	url = https://bitbucket.org/ecwolf/opus.git
	branch = v1.3.1-SDL
[submodule "external/opusfile"]
	path = external/opusfile
	url = https://bitbucket.org/ecwolf/opusfile.git
	branch = v0.12-SDL
[submodule "external/libmodplug"]
	path = external/libmodplug
	url = https://bitbucket.org/ecwolf/libmodplug.git
	branch = v0.8.9.0-SDL
